<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Randall</title>
</head>
<body>
<div>
    <table>
        {% for row_number in range(nor) %}
        <tr>
            {% for camera_ip in camera_ips[noc*row_number:noc*(row_number+1)] %}
            <td>
                <h3 class="mt-5">{{camera_ip}}</h3>
                <img src="{{ url_for('_video_feed', ip=camera_ip) }}" alt="Video feed of camera: {{camera_ip}}">
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>